<section class="update-post-modal" id="update-post-modal">
    <div class="update-post" id="ventana-update-post">
        <div class="preview">
            <p>PREVIEW</p>
        </div>
        <div class="newinformation-post">
            <h2>Update post</h2>
            <form id="form-update-post">
                <label for="description-post">Nuevo título: </label>
                <textarea autofocus required rows="4" type="text"
                    name="description" placeholder="Escribe un título"></textarea>
                <input id="btn-guardar-cambios" type="submit" value="Guardar Cambios" data-username=<%= username %>>
            </form>
        </div>
    </div>
    <button id="cerrar-update-post">X</button>

    <div class="ventana-actualizado-satisfactoriamente" id="ventana-actualizado-satisfactoriamente">
        
    </div>
</section>
