<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones</title>
    <script src="https://kit.fontawesome.com/fb3a9f20f5.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/inicio/notificaciones.css">
</head>
<body>
    <%- include('../partials/nav') %>
    <aside>

    </aside>
    <main>
        <h2>Recientes</h2>
        <ul>
            <li>
                <img src="/img/avatar1.jpg">
                <p>
                    Adriano carrera le dio like a tu publicacion
                    <button><i class="fas fa-ellipsis-h"></i></button>
                    <span>5 días</span>
                </p>
            </li>
            <li>
                <img src="/img/avatar2.jpg">
                <p>
                    Ruth ventura respondió a tu comentario
                    <button><i class="fas fa-ellipsis-h"></i></button>
                    <span>6 días</span>
                </p>
            </li>
            <li>
                <img src="/img/avatar3.jpg">
                <p>
                    María Rosa le dio like a tu publicación
                    <button><i class="fas fa-ellipsis-h"></i></button>
                    <span>1 semana</span>
                </p>
            </li>
            <li>
                <img src="/img/avatar4.jpg">
                <p>
                    Saluda a Juan por su cumpleaños
                    <button><i class="fas fa-ellipsis-h"></i></button>
                    <span>2 semanas</span>
                </p>
            </li>
            <li>
                <img src="/img/avatar5.jpg">
                <p>
                    Flora Samanéz le dio like a tu publicación
                    <button><i class="fas fa-ellipsis-h"></i></button>
                    <span>1 mes</span>
                </p>
            </li>
            <li>
                <img src="/img/avatar6.jpg">
                <p>
                    Lucía Ximena comentó tu foto
                    <button><i class="fas fa-ellipsis-h"></i></button>
                    <span>2 meses</span>
                </p> 
            </li>

        </ul>
    </main> 
    <aside>

    </aside>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script src="/js/post/newpost.js"></script>
    <script src="/js/helpersPUBLIC/nav.js"></script>
</body>
</html>