<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - RLOV</title>
    <link href="https://fonts.googleapis.com/css2?family=Thasadith:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login/signin.css">
</head>
<body>
    <div class="contenedor-formulario">
        <div>
            <img src="/img/signin4.jpg">
        </div>
        <form method="POST" action="/signup">
            <h2>Register</h2>
            <input autocomplete="off" autofocus type="text" placeholder="Username" name="username" required>
            <input autocomplete="off" type="text" placeholder="Name" name="name" required>
            <input autocomplete="off" type="text" placeholder="Last name" name="lastname" required>
            <input autocomplete="off" type="password" placeholder="Password" name="password" required>
            <input type="submit" value="Register">
            <footer>
                I  have an account <a href="/signin">Signin</a>
            </footer>
        </form>
    </div>
</body>
</html>